.container {
  border: solid 3px blue;
  padding: 5px 10px 15px 10px;
}

.grid-container {
  border: solid 1px black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.grid-container > div {
  padding: 35%;
  background-size: cover;
}

.grid-item-1 {
  background-image: url("../pictures/1.jpg");
}

.grid-item-2 {
  background-image: url("../pictures/2.jpg"); 
}

.grid-item-3 {
  background-image: url("../pictures/3.jpg");
}

.grid-item-4 {
  background-image: url("../pictures/4.jpg");
}

.grid-item-5 {
  background-image: url("../pictures/5.jpg");
}

.grid-item-6 {
  background-image: url("../pictures/6.jpg");
}