.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container > div {
  border: 1px solid black;
}

.data {
  display: grid;
  grid-template-columns: auto;
  row-gap: 50px;
}

.data > div {
  border: 1px solid black;
}