.container {
  border: 1px solid blue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
  margin: 100px;
}
.mazeTable {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.mario {
  width: 75px;
  height: 75px;
  border: 1px solid blue;
  background-image: url("../pictures/mario.png");
  background-size: cover;
}
.diamond {
  width: 75px;
  height: 75px;
  border: 1px solid blue;
  background-image: url("../pictures/diamond.png");
  background-size: cover;
}
.controler {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-image: url("blue.jpg");
  background-size: cover; */
}
.controler > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.controler > div > div {
  font-size: 35px;
}
.controler > button {
  border-color: aliceblue;
  font-size: 30px;
  background-color: rgb(99, 209, 99);
  color: white;
  border-radius: 15px;
  width: 250px;
  height: 75px;
  margin: auto auto 0 auto;
}

.move-data {
  width: 100%;
  height: 80%;
}

form {
  height: 100%;
}